version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    env_file:
      - .env.example
    depends_on:
      - db
      - rabbitmq
      - redis
    ports:
      - "8083:8083"
    volumes:
      - ./api:/app/api

  worker:
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    env_file:
      - .env.example
    depends_on:
      - rabbitmq
      - redis
      - db
    volumes:
      - ./:/app

  scheduler:
    build:
      context: .
      dockerfile: ./scheduler/Dockerfile
    env_file:
      - .env.example
    depends_on:
      - api
    volumes:
      - ./:/app

  flower:
    image: mher/flower:1.2.0
    env_file:
      - .env.example
    depends_on:
      - rabbitmq
      - redis
    ports:
      - "5557:5555"
    command: ["flower", "--port=5555", "--broker=amqp://guest:guest@rabbitmq//"]

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - note_pg_data:/var/lib/postgresql/data
    ports:
      - "5545:5432"

  rabbitmq:
    image: rabbitmq:3.12-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - note_rabbit_data:/var/lib/rabbitmq

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    volumes:
      - note_redis_data:/data

volumes:
  note_pg_data:
  note_rabbit_data:
  note_redis_data:
